.home {
  margin: auto auto;
  height: calc(100vh - 61px);
  margin-top: 3rem;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.home ul {
  list-style: none;
}
